@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) and (max-width: 5000px) {
        @content;
    }
  }

.commentNew {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 0 1rem;

    @include tablet() {
        margin: 0 2.5rem 0 2.5rem;
    }

    @include desktop(){
        margin: 0;
    }

    &__title {
        font-family: AvenirNext-Bold;
        font-size: 0.875rem; //14px
        color: #AFAFAF;
        text-transform: uppercase;
        margin-left: 1rem; //16px
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        flex-direction: column;
        @include tablet{
            // flex-direction: row;
        }
    }

    &__input {
        height: 100px;
        width: 68vw;
        margin: 0 0 1rem 1rem;
        background-color: #FAFAFA;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        padding: 1rem 0 0 1rem; //16px
        font-family: AvenirNext;
        font-size: 14px;

        @include tablet (){
            height: 30px;
            width: 50vw;
            padding: 0.7rem 0 0 1rem;
        }

        @include desktop (){
            height: 30px;
            width: 35vw;
            padding: 0.7rem 0 0 1rem;
        }
    }

    &__img {
        height: 2.5rem;
        margin: 2rem 0 0 0;
        border-radius: 50%;
    }

    &__button {
        display: flex;
        width: 70vw;
        align-items: center;
        margin-left: 1rem; //8px
        
        @include tablet {
            width: 80vw;
            justify-content: flex-end;
            margin-right: 2.5rem;
        }

        @include desktop {
            width: 15vw;
            justify-content: flex-end;
            margin-right: 2.5rem;
        }
    }
    

    &__buttonHold {
        display: flex;
        width: 100%;
        margin: 0;
       
        @include tablet {
            justify-content: flex-end;
            position: relative;
            bottom: 4.1rem;
        }

        @include desktop {
            justify-content: flex-end;
            position: relative;
            bottom: 4.1rem;
            left: 10px;
        }
    }
    //Counter
    &__count {
        display: flex;
        margin-left: 1rem; //16px
        font-family: AvenirNext-Bold;
        @include tablet{
            margin-left: 2.5rem;
        }

        h4 {
            margin: 0.5rem 0 1rem 0;
        }
    }

    &__box {

        @include desktop(){
            margin: 0 23rem 0 5rem;
        }
    }
}