.commentNew {
    display: flex;
    flex-direction: row;
    border: 1px solid orange;

    &__title {
        font-size: 1rem; //16px
        color: #AFAFAF;
        text-transform: uppercase;
        margin-left: 1rem; //16px
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__input {
        height: 100px;
        width: 75vw;
        margin: 1rem;
    }

    &__img {
        height: 2.5rem;
        margin: 1rem 0 0 0;
        border-radius: 50%;
    }

    &__button {
        width: 82vw;
        margin-left: 0.5rem; //8px
    }
}