.comments {
    display: flex;
    flex-direction: row;
    font-family: AvenirNext;


    &__left {
        display: flex;
        flex-direction: column;
        margin-left: 1rem; //16px
    }

    &__right {
        display: flex;
        flex-direction: column;
        margin-left: 1rem; //16px
    }

    &__middle {
        display: flex;
        width: 75vw;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 0 0; //16px
        
    }

    &__bottom {
        width: 75vw;
        line-height: 1.5rem; //24px
    }

    &__userImg {
        height: 2.5rem;
        margin: 1rem 0 0 0;
        border-radius: 50%;
    }

    &__name {
        margin: 0;
        font-family: AvenirNext-Bold;
    }

    &__date {
        margin: 0;
        color: #AFAFAF;
    }

}