@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) and (max-width: 5000px) {
        @content;
    }
  }

.divider {
    border-top: solid 1px #E1E1E1;
    margin: 1rem 1rem 1rem 1rem;

    @include tablet () {
        margin: 1rem 2.5rem;
    }
}