@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) and (max-width: 5000px) {
        @content;
    }
  }

.nextUp {
    display: flex;
    font-family: AvenirNext;
    align-items: center;
    
    @include tablet(){
        margin: 0 1.5rem 0 1.5rem;
    }

    @include desktop() {
        margin: 0 1.5rem 0 1.5rem;
    }


    &__title{ 
        font-size: 1rem; //16px
        color: #AFAFAF;
        text-transform: uppercase;
        margin-left: 1rem; //16px
        @include tablet(){
            margin: 0 1.5rem 0 2.5rem;
        }
    }

    &__img { 
        display: flex;
        height: 20vw;
        width: 30vw;
        border-radius: 4px;
        justify-content: center;

        @include desktop(){
            width: 12vw;
            height: 8vw;
        }
    }

    &__left {
        display: flex;
        margin: 1rem 1rem 0 1rem; //16px
    }

    &__right {
        display: flex;
        flex-direction: column;
        margin-top: 1rem; //16px
        width: 53vw;
    }

    &__name {
        font-family: AvenirNext-Bold;
        margin: 0 0 0.5rem 0; //8px
    }

    &__author {
        margin: 0;
    }

    h2 {
        margin: 0;
    }
}

.nextVideo {

    @include desktop() {
        width: 30vw;
    }

    &__divider {
        display: flex;

        @include desktop(){
            border-left: solid 1px #E1E1E1;
            margin-left: 1rem;

            // position: relative;
            // left: 600px;
            // bottom: 975px;
        }
    }
}
