.nextUp {
    display: flex;
    font-family: AvenirNext;
    align-items: center;

    &__title{ 
        font-size: 1rem; //16px
        color: #AFAFAF;
        text-transform: uppercase;
        margin-left: 1rem; //16px
    }

    &__img { 
        display: flex;
        height: 20vw;
        width: 30vw;
        border-radius: 4px;
        justify-content: center;
    }

    &__left {
        display: flex;
        margin: 1rem 1rem 0 1rem; //16px
    }

    &__right {
        display: flex;
        flex-direction: column;
        margin-top: 1rem; //16px
        width: 53vw;
    }

    &__name {
        font-family: AvenirNext-Bold;
        margin: 0 0 0.5rem 0; //8px
    }

    &__author {
        margin: 0;
    }

    h2 {
        margin: 0;
    }
}

