@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) and (max-width: 5000px) {
        @content;
    }
  }

.videoStats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1rem;

    &__left {
        margin-right: 4rem;

        h3 {
            font-family: AvenirNext; 
            margin: 0 0 1rem 0;
        }

        h4 {
            color: #AFAFAF;
            font-family: AvenirNext;
            margin: 0;
        } 
    }


    &__views {
        margin: 0 0 1rem 0;
        color: #AFAFAF;
    }

    &__likes {
        margin: 0;
        color: #AFAFAF;
    }
}

.videoStats {
    @include tablet() {
        justify-content: space-between;
        margin: 0 2.5rem 0 2.5rem;

        &__left {
            display: flex;
            align-items: flex-start;
            h3 {
                margin: 0 2rem 0 0;
            }
        }
    
        &__right {
            display: flex;
        }

        &__views { 
            margin: 0 2rem 0 0;
        }
    
    }

    @include desktop() {
        justify-content: space-between;
        margin: 0 6rem 0 6rem;

        &__left {
            display: flex;
            align-items: flex-start;
            h3 {
                margin: 0 2rem 0 0;
            }
        }
    
        &__right {
            display: flex;
        }

        &__views { 
            margin: 0 2rem 0 0;
        }
    
    }
}