.videoStats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__left {
        h3 {
            font-family: AvenirNextLTPro-Bold; 
        }

        h4 {
            color: #AFAFAF;
            font-family: AvenirNextLTPro;
        } 
    }

    &__right {
        p{ 
            color: #AFAFAF;
        }
    }
}

hr {
    color: red;
}